.mobile-nav {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background: $primary_color;
  width: 100%;
  height: 100%;
  padding: 7rem 2rem 4rem;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateY(-100%) translateZ(0);

  transition-duration: 1s;
  transition-timing-function: ease;
  transition-property: transform, opacity, visibility;

  &.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%) translateZ(0);
  }

  &__menu li {
    color: $color_white;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem;

    span {
      background: $color_white;
    }
  }
}
