html {
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body {
	@include font-size(15px);
	line-height: 2.4rem;
    font-weight: 400;
	color: $primary_color;
}

h2, .h2 {
	font-weight: 600;
	font-size: 3rem;
	line-height: 3.5rem;
	color: $dark_color;
	text-transform: uppercase;
}

h3, .h3 {
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 3rem;
	color: $primary_color;
	text-transform: uppercase;
}

h4, .h4 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: $primary_color;
	text-transform: uppercase;
}

p {
	margin-bottom: 2rem;
}

a {
  color: $secondary_color;
  text-decoration: underline;
}

strong, b, .strong {
	font-weight: 600;
}

.img--responsive {
	width: 100%;
}

.wrap {
	display: block;
	max-width: 124rem;
	margin: 0 auto;
	position: relative;
	padding-left: 4rem;
	padding-right: 4rem;

	&--grid {
		font-size: 0;
		& > :not(&) {
			font-size: 1.6rem;
		}
	}
}

ul {
	li {
		position: relative;
		padding-left: 2.4rem;
	}
}

.text-center {
	text-align: center;
}
